@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA.woff'), url('SEGA.woff') format('woff');
    }
#playground{
    height: 300px;
    width: 600px;
    background-image: url('playground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 300px);
    border: 1px solid grey;
    border-radius: 5px;
}
.finishLine1{
    height: 298px;
    width: 20px;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; 
    background-image: url('flag.gif');
    background-size: 60px;
    background-repeat: repeat;
}
h3{
    font-family: 'SEGA LOGO FONT';
    color: rgb(19, 134, 163);
    font-weight: 100;
    position: absolute;
    top: -43px;
    left: 180px;
}
#player{
    height: 15px;
    width: 15px;
    background-image: url('player.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(5% - 15px);
    border: 0.1px solid rgb(255, 255, 255);
    z-index: 2;
}
.obstacle{
    width: 15px;
    position: absolute;
    border-radius: 1px;
    background-image: url('brickwall.jpg');
    background-size: 60px;
    background-repeat: repeat;
}
.obstacle *{
    position: absolute;
}
#lifes{
    position: absolute;
    top: -40px;
    right: 0px;
    font-size: 15px;
}
#safeTimer{
    position: absolute;
    top: -22px;
    right: 180px;
    font-size: 15px;
}
#countdown-number {
    color: black;
    display: inline-block;
    line-height: 20px;
}
#countdown {
    position: absolute;
    top: -102;
    left: 70;
    margin: auto;
    margin-top: 100px;
    height: 20px;
    width: 20px;
    text-align: center;
}
svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    transform: rotateY(-180deg) rotateZ(-90deg);
}
svg circle {
    stroke-dasharray: 80px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 0.5px;
    stroke: black;
    fill: none;
    animation: countdown 30s linear infinite forwards;
}
@keyframes countdown {
    from {
    stroke-dashoffset: 0px;
    }
    to {
    stroke-dashoffset: 80px;
    }
}
#startGame{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    top: -25px;
    height:20px;
    font-size:1.1em;
    padding:0 1em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}
#startGame:hover{
    background:#fff;
    color:#1AAB8A;
}
#startGame:before,#startGame:after{
    content:'';
    position:absolute;
    top:20;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
}
#startGame:after{
    right:inherit;
    top:0;
    left:0;
    bottom:0;
}
#startGame:hover:before,#startGame:hover:after{
    width:100%;
    transition:800ms ease all;
}